[2021-01-15 23:02] 2099492 opened #12 "Custom hotkeys"
I would realy like to customize my hotkeys like I can do with the mac version of this program. I don't know if it is already in there I couldn't, find maybe I am just stupid idk.

[2021-01-17 11:45] glsorre commented on #12
Hi Thank you for your request. It will come. I am developing the app in my free time but it will come.

[2021-01-25 11:09] jonathan-reichardt opened #13 "Windows overapping with Taskbar"
**Describe the bug**
When the Taskbar isn't located at the bottom of the screen, but at the top or sides, then Amethyst positions the windows so that they're overlapping with the taskbar, while ther's an empty space at the bottom of the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Move the Taskbar from the Bottom to the Top or Sides
2. Force the Windows to be reevaluated `mod1 + Z

[2021-02-10 19:58] snaphat opened #15 "Add mouse-drag to resize and reorder windows"
Two question/requests:

1) Would it be possible to add the ability to use the mouse to resize the windows similar to aero-snap?

2) Would it be possible to add the ability to reorder windows by dragging one window over the area of another window (causing them to swap positions)?

What I'm interested in wrt this project is having mouse controls added for window manipulation. I've half thought about

[2021-02-11 01:28] snaphat commented on #15
Window reordering via mouse support:
https://github.com/glsorre/amethystwindows/compare/master...snaphat:master

[2021-02-11 10:08] glsorre commented on #15
Hello @snaphat will give a look to your proposal during the weekend. In the meanwhile thanks.

[2021-02-27 02:11] garciaErick commented on #13
+1 to this, I think this is due to Amethyst windows only taking in account if the taskbar is at the bottom. I would propose 2 solutions, have settings to have custom paddings, meaning I can choose each side and each padding separately. You could also just get the taskbar position and height programatically and have it all seamlessly.

[2021-03-03 09:02] domsch1988 opened #16 "Setting for the default width of the Master Pane"
By default, the Master Pane takes up 50% of the screen. I have to set the through the hotkeys every time i restart Amethyst and for every Dektop seperately.
It would be nice if the last setting got saved on closing amethyst and if there would be a setting for the default width.

[2021-04-10 10:21] roytseng-tw opened #17 "App Installer failed to install package dependencies. Ask the developer for package."
**Describe the bug**
I failed to install the app on windows 10 version 1709.

**To Reproduce**
Steps to reproduce the behavior:
1. double click the appxbundle file.
2. wait and see the error.

[2021-04-10 14:27] glsorre commented on #17
Can you try to install it trough this? https://www.microsoft.com/it-it/p/programma-di-installazione-app/9nblggh4nns1?activetab=pivot:overviewtab

Give it a try and let me know.

[2021-04-13 08:59] roytseng-tw commented on #17
Hi, I did install through the app installer.

[2021-04-14 08:33] glsorre commented on #17
Can you try to update windows? I think version 1709 is not supported.

[2021-04-17 01:02] hlorand commented on #13
When I place the task bar to the right side of the screen it works perfectly, does not overlap. Only overlaps when the taskbar is in the left or top.

[2021-04-17 21:17] AdamSPi opened #18 "(mod1 + space) breaks after relaunching"
**Describe the bug**
Hello! I started using this today and the layouts started to not fill up the whole screen (not sure how to reproduce but ignore this for now), so I figured restarting the program would fix it, but after relaunching it didn't list any of the current windows and cycling through layouts (mod1 + space) no longer worked.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch

[2021-04-18 07:45] AdamSPi commented on #18
I think this was actually caused by my ahk config 😅 please disregard

[2021-04-18 07:45] #18 closed

[2021-04-19 05:28] #17 closed

[2021-04-27 13:20] glsorre commented on #15
Hello @snaphat ! First of all sorry for so late reply. I am gonna retake the project into active development and I do not want to refuse your proposal.

I have given a look to your PR and here is my main observation: the solution is a bit simplistic as is assumes the layout is composed from 2 windows only.

If you could abstract more and make it work for multiple windows layouts (n > 2) I would be

[2021-04-27 22:47] rojosinalma opened #20 "Allow padding 0"
That's it.

[2021-04-28 07:40] glsorre commented on #13
Hi all! This will be solved with #19.
I will keep you posted.

[2021-04-28 07:41] glsorre commented on #20
:) Coincise. Will be solved with #19.

[2021-04-28 07:43] #20 closed

[2021-04-28 07:49] glsorre commented on #16
Hello @domsch1988. Sorry for late reply. It is my intention to implemets this into #19. Keep track of it.

[2021-04-28 16:58] #16 closed

[2021-05-02 20:03] glsorre commented on #12
Hello @2099492. This feature is implemented in #19. Please track it.

[2021-05-02 20:03] #12 closed

[2021-05-02 21:27] glsorre commented on #13
Hi the problem is solved. Going to release asap.

[2021-05-02 21:27] #13 closed

[2021-05-08 16:40] KHNRV opened #21 "Spacing between two windows should equal the value of the set padding."
**Is your feature request related to a problem? Please describe.**
As I understand, when setting padding of 10px in the settings, for example. The spacing between my windows and the border of my screen is going to be 10px. Although, the spacing in between windows is going to be 20px.

**Describe the solution you'd like**
I believe the spacing between two windows should be equal to the set padding.

[2021-05-08 19:48] glsorre commented on #21
@KHNRV you are probably right. At the moment the padding is applied at application level so every application has on all sides the padding specified. I will address it.

[2021-05-09 18:01] glsorre commented on #21
Screen margin are going to be implemented with #22.
Window padding is going to stay.
Layout Padding is a bit more complicated, going to implement it in the future.

I won't close this issue to keep track.

[2021-05-12 19:41] glsorre commented on #21
Hello @KHNRV this has been released. Check https://github.com/glsorre/amethystwindows/releases/tag/1.0.21132.1

[2021-05-15 11:43] glsorre opened #24 "autoupdate/new version notification"
Implemented with #29

[2021-05-15 20:57] glsorre commented on #21
Hello @KHNRV. Layut padding is implemented in #25.

[2021-05-16 09:15] glsorre commented on #21
Hello, this has been released: https://github.com/glsorre/amethystwindows/releases/tag/1.0.21135.2

[2021-05-16 09:15] #21 closed

[2021-05-16 10:33] glsorre opened #26 "custom shortcuts UI"
I would like to implement a UI to define shortucuts instead of the conf file.
Someone wants to help?

[2021-05-17 07:50] glsorre opened #27 "start minimized / automatic startup issue"
The app does not seem to boot properly after a reboot if automatic startup is enabled.

[2021-05-17 17:52] glsorre opened #28 "manage elevated windows"
It is not a trivial problem...anyone wants to help?
For now I excluded the `ConsoleWindowClass` in #29.

[2021-05-17 20:40] #27 closed

[2021-05-17 20:40] #24 closed

[2021-05-24 09:50] eskoONE opened #31 "remove window decoration"
**Is your feature request related to a problem? Please describe.**
would be nice if one could disable to top window decoration where you can minimize/maximize/close.

**Describe the solution you'd like**
hiding the window decorator and manage the windows through hotkeys, to move, resize, close, etc.

**Describe alternatives you've considered**
alternative would be to not bother with this feature r

[2021-05-24 12:06] glsorre commented on #31
Hello @eskoONE.

Amethyst is a tiling window manager that "lives" on top of the usual windows 10 shell. So I won't continue with this feature request.

I understand it but if you are looking for a more classic tiling window manger experience there are some good products out there. :)

Hope my thought is clear.

[2021-05-26 09:51] eskoONE commented on #31
hey, no problem. would have been a nice feature to have, but not necessary. ty for taking your time to answer.

[2021-05-26 09:51] #31 closed

[2021-05-27 13:18] eskoONE opened #32 "amethystwindows crashes when starting anki"
**Describe the bug**
amethystwindows crashes the moment i start anki.

**To Reproduce**
just starting anki crashes the amethystwindows

**Expected behavior**
amethystwindows not crashing.

**Desktop (please complete the following information):**
 - OS: windows 10 home
 - Version 20h2

**Additional context**
its a qt app, which might be the reason why its crashing.

[2021-05-27 16:40] glsorre commented on #32
@eskoONE This will be solved with #33

[2021-05-27 20:30] glsorre commented on #32
@eskoONE Please check https://github.com/glsorre/amethystwindows/releases/tag/1.0.21147.1 and let me know.

[2021-05-27 21:35] eskoONE commented on #32
seems to fix it at first glance but something is still making the program crash. i can reproduce it when i close all windows, open firefox, then anki and then opening windows terminal crashes it. i think it always crashes when doing it in this order and when none of the applications were tiled yet.

sometimes it also switches the master stack into slave when opening a new window to share the space

[2021-05-27 21:38] glsorre commented on #32
This is super useful! Thank you. I will investigate and let you know.

[2021-05-28 16:44] eskoONE commented on #32
i will try to provide whatever i can in a few hours. ill look into joining gitter as well. i dont know what that is rn. can you invite me to it or something?

[2021-05-29 10:23] Explicit0xt opened #35 "Crashes every so often"
Hey, I really like this window manager but it crashes every time I open another window it seems It works for short periods and then crashes when opening a random window.

[2021-05-29 10:34] glsorre commented on #35
Hello @Explicit0xt. Thanks for your feedback. I am happy you like it. I am working hard to fix some crash reports. Would you like to become a tester?

[2021-05-29 10:52] #35 closed

[2021-05-29 11:35] Explicit0xt commented on #35
Sure I'd be down for testing :) so far the build 1.0.21149.1 you just released seems to be running stable I haven't seen it crash like it was doing before I'll notify you if I find any other bugs thanks for fixing this.

[2021-05-29 11:38] glsorre commented on #35
Great this is good to hear. Would you mind join gitter or share a mail? I will share build previews there.

[2021-05-29 18:32] Explicit0xt commented on #35
Yeah my email is fatalx@protonmail.ch

[2021-05-30 05:17] glsorre commented on #32
@eskoONE `1.0.21149.1` has solved many common crash reports as you confirmed in our Gitter chat. I am gonna close this. Thank you.

[2021-05-30 09:25] #32 closed

[2021-06-02 13:19] calebkish opened #37 "Key binds to switch to particular virtual desktops"
While Windows does already include hotkeys to switch to virtual desktops (`Ctrl+Win+Left` or `Ctrl+Win+Right`), it would be nice if we could map a key bind to switch to a particular virtual desktop. For example, to switch to virtual desktop 4, you could use a hotkey like `Alt+Shift+4` .

[2021-06-02 16:43] glsorre commented on #37
Will do it.

[2021-06-06 15:45] lispstudent opened #38 "Allow installation via PowerShell"
**Is your feature request related to a problem? Please describe.**

At the moment I can only use Windows 10 Enterprise, with no Store App. I would like to be able to install Amethyst Windows there as well.

**Describe the solution you'd like**

Would you consider add ability to install Amethyst Windows on Windows Enterprise installs where MS App Installer is not allowed to run?

**Describe alterna

[2021-06-07 05:25] glsorre commented on #38
Hello @lispstudent, thank you for the notification. Let me investigate and come back to you.

[2021-06-15 08:40] rmortes opened #39 "App not loading on build 21390.1000"
**Describe the bug**
The app does nothing. I've tried every button and every key combo, and I can't get any response

**Screenshots**
![image](https://user-images.githubusercontent.com/56652057/122021352-e211c980-cdc5-11eb-9be5-f5ebf5dfd696.png)
I see nothing in this list, and I'm guessing there should be something

![image](https://user-images.githubusercontent.com/56652057/122021439-f5249980-cdc

[2021-06-15 09:22] glsorre commented on #39
Hello @rmortes: most probably the systray component is crashed. In these cases you probably need a full relaunch. Could you please join [gitter](https://gitter.im/glsorre/amethystwindows?utm_source=share-link&utm_medium=link&utm_campaign=share-link) I think I can give better support there.

[2021-06-15 09:23] glsorre commented on #39
Also I think I never tested that windows build.

[2021-06-15 15:20] dordio opened #40 "Not working correctly after reboot"
**Describe the bug**
The app works fine, until I reboot the computer. After that I'm no longer able to move windows between monitors using mod2 + J or mod2 + K.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the app, it works fine
2. Reboot the computer
3. App won't work correctly anymore

**Expected behavior**
I should be abel to move windows to my other monitor using either mod2 +

[2021-06-16 09:57] glsorre commented on #40
Hello @dordio, let me do an investigation and I will come back to you. Are you customizing keys?

[2021-06-16 16:08] rmortes commented on #39
OS version bumped to 21390.1010 (Dev channel), the app is still not working

[2021-06-16 16:11] rmortes commented on #39
Looks like the systray component is crashing every time I open the app. Are there any logs I can post?

[2021-06-18 22:18] silver-dragon commented on #37
@calebkish
Until the feature is added I recommend checking out [pmb6tz/windows-desktop-switcher](https://github.com/pmb6tz/windows-desktop-switcher) AutoHotkey script that adds this functionality.

[2021-06-18 22:23] silver-dragon opened #41 "Add ability to change location of "Main Window""
What appears to be described as the "Main Window" in the documentation is locked over to the left-hand side. For my monitor setup, it works better to have the larger (Main) window over on the right-hand side.

At the moment it doesn't appear that there is any way to change this, other than just switching to a different layout.

[2021-06-19 09:37] rmortes commented on #39
Quick update, still not working in 21390.2025

[2021-06-19 14:19] EdwardKerckhof opened #42 "Active border"
I would love to have an active border colour around the active window as a feature.
One you could maybe change the border-width and colour from.

[2021-06-19 15:52] janat08 opened #43 "Doesn't see any windows on preview with WSL"
**Describe the bug**
OS build 21390, Dev channel. I installed WSL, and now amethyst seems to be borked. It doesn't see any windows at all (the list of windows is empty). I imagine it requires WSL 2 getting installed, and then trying to run some linux gui app (which don't run either on my build.) I specifically launched ktorrent on ubuntu.

[2021-06-19 17:22] janat08 commented on #43
Feel free to close this. With the state of dev builds, its presumptuous to file bugs outside windows.

[2021-06-19 17:24] janat08 commented on #43
If you'd like to test that this works with WLS GUI apps, you don't have to get into dev build (I did so by accident). I couldn't be bothered to follow 6 steps consisting of copy and paste with the cmd.exe believe it or not, understanding the concepts of alpha and beta builds.

[2021-06-21 09:16] dordio commented on #40
Sorry for the late response. No, I'm not customizing keys.
I should add that I'm using a Razer Huntsman Mini, maybe that will help.

[2021-06-22 12:22] tgolsson commented on #40
I've got exactly the same problem - first install worked perfectly, updated and rebooted and it doesn't work anymore. To add some detail, the list of windows is empty in the Amethyst window, and in the Event Viewer I find the following call stack:

[code]

[2021-06-22 17:57] glsorre commented on #40
Hello @tgolsson  thank you for the report. I will try to gitve it alook during the weekend.

[2021-06-24 06:58] glsorre commented on #43
Hello @janat08 we have problems with build 21390. Foll the issue #39.

[2021-06-24 06:59] glsorre commented on #41
Hello @silver-dragon. It is definitely a request I will follow on.

[2021-06-24 08:56] tgolsson commented on #39
Added my WIP from yesterday for 21390 as a PR here: https://github.com/glsorre/amethystwindows/pull/44... Still a long way to go to demystifying the interfaces.

[2021-06-24 11:37] #43 closed

[2021-06-25 19:57] rmortes commented on #39
Is there a way to beta test the PRs? I'd love to help you giving feedback with my system

[2021-06-25 20:00] glsorre commented on #39
@rmortes unfortunately at the momnet no, builds are manually triggered; yearly minutes are quite limited. ☹️

[2021-06-26 07:30] rmortes commented on #39
Sad to hear. Are local builds an option? I may not be used to Windows apps, but I'm quite tech savvy myself. As long as I don't require some Microsoft crap, like a developer account to build, I can try

[2021-06-26 08:42] tgolsson commented on #39
@rmortes I think it'd work to use [Visual Studio Community](https://visualstudio.microsoft.com/vs/express/) to build it -- I'm using the Enterprise edition but the C# functionality should be the same as far as I know.

[2021-07-14 14:52] silver-dragon commented on #40
I just wanted to chime in and say I am having the same issue. Currently, the only workaround I have found is to uninstall and reinstall amethyst after a reboot.

[2021-07-14 19:58] dordio commented on #40
And if you reboot after that it still works correctly?

[2021-07-14 22:17] silver-dragon commented on #40
No, I will have to uninstall and reinstall again after every reboot.

[2021-07-22 00:40] TwoLeaves opened #45 "RotateLayoutsCounterClockwise hotkey rotates layout twice"
When hotkey 0x21 ("RotateLayoutsCounterClockwise") is activated via the default shortcut (shift+alt+win+space) the layout is rotated counterclockwise twice. Only one alert is shown.

It appears there are two if blocks targeting the same 0x21 hotkey in SystrayContext.cs. The first if statement rotates the layout and shows an alert while the second just rotates the layout. I imagine this is a mistak

[2021-07-22 00:47] TwoLeaves commented on #45
https://github.com/glsorre/amethystwindows/pull/46

[2021-07-22 12:50] glsorre commented on #45
Double thanks @TwoLeaves. I will check your PR.

[2021-07-27 14:41] feber opened #47 "mod1 + K swapped the window instead of moving the focus"
**Describe the bug**
Wrong executed command when shortcut file (`hotkeys.json`) is present. `mod1 + K` is expected to move the focus, instead it swapped the focused window.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy [defaultHotkeys.json](https://github.com/glsorre/amethystwindows/blob/master/defaultHotkeys.json) into `%USERPROFILE%/AppData/Roaming/AmethystWindows/hotkeys.json`.
2.

[2021-07-28 20:33] glsorre commented on #47
@feber thank you! I will fix this.

[2021-07-28 23:45] cybardev commented on #17
#### My installation fails with this error: Class not registered (0x80040154)
#### I tried both the `Install` button on the website, and by downloading the `appxbundle` file. Both show the same error.
[code]
#### Any solutions?

![image](https://user-images.githubusercontent.com/50134239/127409906-ab648ffa-1183-4752-a800-2142fa47ce82.png)

[2021-07-29 08:53] feber opened #48 "Feature request: Ability to maximize and restore a window"
**Is your feature request related to a problem? Please describe.**
When I have a bunch of windows in a screen and need to maximize one of them for a better view.

**Describe the solution you'd like**
Functionality for a window to be maximized (a window to take the whole screen) and restored (back to the previous state/layout before zoom). Additionally, bound the functionality to a shortcut (i.e. `

[2021-07-31 17:19] tomvothecoder opened #49 "Incorrect actions mapped for "ChangeFocusClockwise" and "SwapFocusedClockwise""
**Describe the bug**
I was experimenting with this software and tried to match it with my MacOS Amethyst layout using a custom `hotkeys.json`. I noticed that the actions for `"ChangeFocusClockwise"` and `"SwapFocusClockwise"` should be swapped.

By default, when I tried using `"ChangeFocusClockwise"`, it would perform `"SwapFocuClockwise"` instead and vice versa.

**To Reproduce**
1. Add default `

[2021-08-03 07:19] glsorre commented on #49
You're right. Will fix it.

[2021-08-04 12:52] belljames commented on #39
Do you have virtual desktops created?
I've noticed the app crashes if I've removed the virtual destops.  Do win+tab and ensure you have  5 virtual desktops (or so).  This is a one-time setup.

[2021-08-04 13:28] belljames commented on #48
Hi feber,
on my system i use 2 options for this -

Click maximize/restore on the window itself.  (This works like a charm in amethystwindows whereas other tiling WMs i've tried will force the window back into the tiling mode.)

Use windows shortcut Win+up/down.  On my system I need to do this a few times to maximize (snap is turned on).

Hope that workaround helps for now

[2021-08-04 13:35] feber commented on #48
Hi @belljames.
Thanks for the answer. I have no idea why I haven't try that before with AmethystWindows running.
Ah yes it works perfectly!

Guess I will close this issue then.
Again, thanks!

[2021-08-04 13:35] #48 closed

[2021-08-04 16:49] Sonsum commented on #39
I can confirm that I was having this issue and had no virtual desktops at the time. I was curious why I had 5 open sometime last week and closed them out.

I made 5 desktops and the app started working again.

[2021-08-05 07:25] glsorre commented on #39
This is actually strange because the app should check and eventually create the 5 vdesktops at launch. Sorry for delay but I am very busy I hope to be active again on Amethyst from the 14th to 21st of august.

[2021-08-06 23:02] reynerdev opened #50 "Alacritty terminal doesn't get recognize in none decoration mode"
In my terminal, alacritty when it's property decoration is none ( neither borders nor title bar) it doesn't get recognize by the app

This photo is when it's recognize ( borders and title bar are shown)
![alacritty](https://user-images.githubusercontent.com/58928047/128578255-a9e9db1c-b662-4f98-a72d-4b551a2cacd6.png)

[2021-08-09 23:21] yzhuang opened #51 "Abilit to pin a window to be always on top (floating)"
**Is your feature request related to a problem? Please describe.**
It would be nice to have the ability to "float" a window: i.e. the window is removed from the layout, and is always-on-top.

**Describe the solution you'd like**
Please add the ability/hotkey to pin a window to be always on top.  Pinned windows should not be a part of the layout.

**Describe alternatives you've considered**
Current

[2021-08-10 12:16] belljames opened #52 "Place new windows in main pane"
**Is your feature request related to a problem? Please describe.**
In tall layout new windows are placed bottom right (IE bottom of the stack area).  I'm always doing the hotkey to move them to the main area.

**Describe the solution you'd like**
In tall layout new windows are added to the main area, and last used window moves to top of the stack area.

**Describe alternatives you've considered**

[2021-08-13 06:45] glsorre commented on #50
@reynerdev thanks will give a look

[2021-08-13 08:36] sirbabyface commented on #40
I do have a similar same issue. The applications just doesn't start.

[2021-08-13 08:39] glsorre commented on #40
hi! Could you check you have not deleted the 5 vdesktops?

[2021-08-13 08:43] sirbabyface commented on #40
I do have the 5 virtual desktops.
![image](https://user-images.githubusercontent.com/223056/129330136-2d9a0bd0-3fd8-4aa8-ab42-06d60083ad67.png)

I've uninstalled and installed as suggested by @silver-dragon. BUt I'm attaching the errors I gor before in the Event Viewer

Faulting application name: AmethystWindowsSystray.exe, version: 1.0.21150.1, time stamp: 0xc46a19be
Faulting module name: KERNELB

[2021-08-13 08:48] glsorre commented on #40
There is something not quite right with the way the I save and load the layouts for each vdesktop. Have you changed desktop names while amethyst was up? I think that scenario is not covered but I need a bit of time to check.

[2021-08-13 08:57] sirbabyface commented on #40
I did change the names, after installing Amethyst. But once I've rebooted the virtual desktops were already created with the previous name. Not sure if that is a problem or not.
Also for me the problem has that no auto layout of windows was working. I need to check if I can get time to also help you looking at the code of this (maybe during holidays)

[2021-08-13 09:34] glsorre commented on #40
@sirbabyface any help would be welcome.

[2021-08-16 06:39] sirbabyface commented on #40
After the reboot this is the look of the Amethyst Windows:
![image](https://user-images.githubusercontent.com/223056/129521383-96c7d7a4-d3c0-4978-b189-56744b344951.png)

So it seems the windows list is not being returned. Error in the Event Viewer

[code]

[2021-08-17 13:01] ananni13 opened #53 "AmethystWindowsSystray crashing on launch"
**Describe the bug**
Amethyst suddenly stopped working. The main program window shows up, but can't detect any open windows.

In the event log I can see that AmethystWindowsSystray crashes immediately on launch, both when I do it manually and when it starts automatically at login after a reboot.

[code]

**Desktop (please complete the following information):**
 - OS: Windows 10 21H1 (19043.1165)

[2021-08-17 13:12] ananni13 commented on #53
I tried this:
- uninstall Amethyst
- delete all virtual desktops
- reboot
- re-install Amethyst

and now it's working again.

[2021-08-17 13:14] sirbabyface commented on #53
If you reboot again, will the Amethyst remain working? Because there is a bug where after reboot things stop working.

[2021-08-17 13:48] ananni13 commented on #53
Yes, it works after a reboot.

[2021-08-20 14:42] juancarlis opened #54 "Changing Mod1 and Mod2 default keys"
Hi, is there a way to change the defualt mod keys or we should do it programmatically by forking the project?

In the defaultHotkeys.json file the modifiers are called as "MOD_SHIFT", "MOD_ALT" or "MOD_WIN" and I can't the find where the definitions are. According to the Virtual-Key Codes I guess that the definitions should be:
-  VK_SHIFT: 0x10
- VK_LWIN: 0x5B
- Alt Key: 0x12

Tks!

[2021-08-25 15:15] JorgeBoscan opened #55 "Vertical Layout is not positioning the windows correctly"
So at first I thought that vertical layout was using some other layout, but it seems that for portrait monitors it's miss calculating the position

Workaround for now: It seems that if I use a Window Padding > 7 it gets fixed if I have 2 windows opened, for 3 it would need to be > 8

Additional note: This monitor is a secondary monitor
![image](https://user-images.githubusercontent.com/1746127/130

[2021-08-25 15:36] JorgeBoscan opened #56 "Tall Shrinking and expanding main tile is too slow"
Shrinking/Expanding is way too slow compared to Amethyst on mac or workspacer on win10.
Also if we hit the command too fast multiple times, it won't poll them, it will wait for the last one before actually doing the change.

[2021-09-09 20:41] merriman-xyz opened #57 "Multiple non-tiling apps"
I have a few apps that don't tile:
- Powershell
- Webstorm/PyCharm

Might be related to #28

---

Much appreciate all the work you put into this. Makes a switch from Mac into Windows much more pleasant.

[2021-09-10 13:44] rustemski commented on #57
There're Read only windows like Taskbar and Powershell, i must guess its related to your question

[2021-09-20 17:19] sys9kdr commented on #57
cmd.exe also doesn't tiled.

[2021-09-27 09:32] glsorre commented on #57
I think all privileged windows are not taken into consideration at the moment.

[2021-10-20 13:19] ClaudiaLapalme opened #58 "Doesn't detect applications in Windows 11"
**Describe the bug**
When you try to run the app in Windows 11, it doesn't detect applications and the UI is a little broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the application
2. Try to run it in Windows 11

**Expected behavior**
For the application to run as in Windows 10

**Screenshots**
Doesn't detect any of the 6 apps I have open
![image](https://user-images.githubu

[2021-11-08 18:58] christophgil opened #59 "Not starting with"
I am on Windows 10

AmethystWindows worked initially.

I wanted to change keybindings.
After
  cp ~/Downloads/defaultHotkeys.json ~/AppData/Roaming/AmethystWindows/hotkeys.json
there is an error. Stack trace see below.

After
  rm ~/AppData/Roaming/AmethystWindows/hotkeys.json
AmethystWindows works fine again.

Best
Christoph

Here is the Error:

Informationen über das Aufrufen von JIT-Debuggen
an

[2021-11-10 12:22] nickduskey opened #60 "App Installer fails to install the program"
**Describe the bug**
I am unable to install the program. I get the following error in App Installer:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://amethystwindows.com/
2. Click on the "Install" button
4. See error

**Expected behavior**
I expected the application to install

**Screenshots**
![image](https://user-images.githubusercontent.com/8136235/141111832-1b5fe6fc-

[2021-11-11 15:58] rustemski commented on #60
MicrosoftStore version? or Github version?
Due to some bundle version i guess

[2021-11-11 21:08] nickduskey commented on #60
I just clicked Install from the website (https://amethystwindows.com/) and clicked install. I'm assuming that is using the MS app installer. As far as github version I'm not sure what you mean by that.  For Microsoft Store version here is the version I am running:

![image](https://user-images.githubusercontent.com/8136235/141369078-7b2223fc-e828-4f83-a53c-d571a5671e30.png)

Version 12107.1001.15.

[2021-11-12 22:00] glsorre commented on #60
I have no clue...I will try to replicate it.

[2021-11-13 21:27] Menn1s commented on #42
Windows currently has borders and whether or not their width can be increased might be in the registry. However, the color can be chosen.

See under Settings -> Personalization -> Colors. Select the checkbox forTitle bars and window borders

[2021-11-13 21:55] Menn1s opened #61 "Remove/add layouts that are cycled through"
As with the original Amethyst, it would be nice to remove layouts that aren't often used so that the user doesn't have to cycle through all of the layouts.

[2021-11-16 09:35] SomePersonOfficial commented on #60
I was having the same issue, to fix I updated app installer from the microsoft store and it worked.

[2021-11-26 15:02] midoBB commented on #17
Seconding the error above
![image](https://user-images.githubusercontent.com/1252393/143599753-3d187e22-7059-4d11-bd52-a64f22b3c597.png)

[2021-11-29 13:41] glsorre commented on #17
Please update windows and retry. :)

[2021-12-05 18:35] joanofxyz opened #62 "Grow/shrink selected window rather than main one"
**Is your feature request related to a problem? Please describe.**
Not really a problem as the current implementation works just fine

**Describe the solution you'd like**
Most tiling window managers I've tried in linux allow you to grow/shrink the currently selected window rather than the main one, it would be nice to have the option to choose between these two ways of resizing your windows

[2022-01-01 17:48] holodrum commented on #60
I'm on the newest version of the app installer (and Windows 10) and I'm getting a somewhat related error as well, though, in my case, I notice that it also states that it's an "Untrusted App" and the publisher is "Unknown", which is weird, as that wasn't the case in the past.

I've tried multiple releases, all give the same error, including the ones I've used in the past without any issues.

![App

[2022-01-01 18:01] holodrum commented on #60
I'm on the newest version of the app installer (and Windows 10) and I'm getting a somewhat related error as well, though, in my case, I notice that on the newest version of the App Installer, it also states that it's an "Untrusted App" and the publisher is "Unknown", while on earlier versions of the App Installer, the publisher is correct (Giuseppe Sorrentino) while it's still untrusted.

I've tri

[2022-01-01 18:05] glsorre commented on #60
hello @holodrum the ssl certificate is expired on the 31st. I renewed it but I need to do a build. Hope to do it tomorrow.

Sorry about that.

[2022-01-01 18:36] holodrum commented on #60
@glsorre No worries, thanks for the info, looking forward to being able to use this again :)

btw, is it just me misremembering, or wasn't Amethyst in the windows package manager repository/store (whatever Microsoft calls it at this point)? I feel like I used to be able to install this with winget earlier in 2021?

[2022-01-04 14:45] Galileji opened #63 "Install link on website not working"
On the Amethyst [website](https://amethystwindows.com/), when clicking the Install link, I get the following error

I also found this link to be useful to explain the problem:
https://techcommunity.microsoft.com/t5/msix-deployment/the-ms-appinstaller-protocol-has-been-disabled/m-p/3038361

[2022-01-05 09:58] glsorre commented on #63
Hello @Galileji , thank you. I will notify you when I solved.

[2022-01-06 13:16] Kryptos-123 commented on #60
Were you able to do the build ?

[2022-01-07 07:47] glsorre commented on #60
Hello @Kryptos-123, not yet. I will keep you posted.

[2022-01-10 07:02] NylonDiamond commented on #60
Still not ssl cert? I'd love to try it out!

[2022-01-11 14:35] Galileji commented on #60
Probably issue #63 could be merged with this issue (I'm new to github, I don't know if I can do it myself)

[2022-01-11 15:52] S31Syntax opened #64 "App Installer refuses to install: "This app package is not signed with a trusted certificate.""
When launching either APPINSTALLER or APPXBUNDLE file, the App Installer halts immediately and states that the app is not signed with a trusted certificate. Specifically
`This app package is not signed with a trusted certificate. Contact your system administrator or the app developer to obtain a new certificate or app package with trusted certificates. The root certificate and all immediate certif

[2022-01-17 15:11] andre68723 commented on #64
Certificate expired on 1/1/2022.

[2022-01-20 08:36] glsorre commented on #64
Yeah I know. I even renewed it but haven't found time to run a build. 🤦
Hope to do that soon.
Sorry.

[2022-01-27 00:38] mlea13 commented on #64
Any update on this? I'd also love to install it, but I'm blocked by the certificate issue.

[2022-01-31 11:32] micheldenario commented on #64
Same problem here, any update?

[2022-01-31 14:25] rodrigojuliaodsgn opened #65 "Cannot Install App, error 0x800B0101"
When trying to install from .appinstaller I receive the following error:
App installation failed with error message: error 0x800B0101: Opening the package from location AmethystWindowsPackaging_1.0.21149.1_x86_x64_ARM.appxbundle failed. (0x800b0101).

Aware of the other thread regarding being unable to install but the error given as justification differs from the one I get.
Was really looking forw

[2022-02-03 02:28] GildartsClive commented on #65
see issue #64

[2022-02-04 02:34] mathesonphillip commented on #64
Also eagerly waiting

[2022-02-06 10:40] glsorre commented on #64
Hi all! Sorry for the long absence. I just requested the cert. As soon as it is released I will run a build.

![certifcateIssue](https://user-images.githubusercontent.com/4059141/152677038-81cdf06a-09d0-41e7-bafe-6ad61d1fefe8.png)

[2022-02-06 10:41] glsorre commented on #65
I think and hope is always releated to the cert.

[2022-02-06 10:46] glsorre commented on #56
Hello...I think the shrink expand command is debounced at the moment...I will see what I can do.

[2022-02-07 13:38] apfsx commented on #65
I still cannot install the application due to the same certificate error. In the meantime while this is getting fixed, is there a way to force installation? I enabled developer mode in my settings but still wouldn't let me install.

[2022-02-07 16:42] Liam-Wirth commented on #64
awesome! I was worried that this was starting to take the course of most passion projects (mine included) happy to see you're still working on it!

[2022-02-08 17:00] glsorre commented on #64
Hello, the certificate issuing is taking longer than expected. Sorry about that.

@Liam-Wirth believe me I would like to work at amethyst much more than what I can do

[2022-02-08 18:45] glsorre commented on #64
Hi all!

Unfortunately Sectigo has refused to release me a code signing certificate. I recently changed residency and it seems my not updated passport is not good to obtain the certificate.

I have another opportunity to get it which is to have a face to face authentication with a notary but is too expensive for me and renewing my document is too slow.

Anyone can help here with any suggestion on

[2022-02-08 23:16] agirault commented on #63
This is due to this: https://msrc.microsoft.com/update-guide/vulnerability/CVE-2021-43890

Running into this as well. Are there other ways to distribute Amethyst?

[2022-02-09 11:57] pex81 commented on #64
But [Let's Encrypt](https://letsencrypt.org) ?

[2022-02-10 00:13] mcampbell commented on #64
Is there something special about this software that requires signing?

[2022-02-10 08:25] glsorre commented on #64
@mcampbell nope any win 10 software needs code signing

[2022-02-17 05:54] choskeli commented on #64
For anyone looking for a temporary fix, I built from master and generated a self signed cert.

[Download Package](https://icedrive.net/s/V1y24FWDAjvzwPwhXQX4ZFRR87if)
[Download Cert](https://icedrive.net/s/WN2RFwbAg5XtkRvz3GBw2CQjvA8w)

You can trust the cert with: `certutil.exe -addstore TrustedPeople AmethystWindowsPackaging_1.0.1.0_x86_x64_arm.cer`

May also solve #65

[2022-02-17 06:04] choskeli opened #66 "Ability to hide title bars via settings and hotkeys"
**Is your feature request related to a problem? Please describe.**
Title bars (top of each window) take up extra space and aren't useful in many (but not all) applications. When you have several applications on the screen this wasted space adds up.

**Describe the solution you'd like**
Give the ability to disable title bars by default. Add list of exe's that _should_ have title bars to settings co

[2022-02-17 14:46] choskeli opened #67 "Opening two vscode instances crashes amethyst"
**To Reproduce**
Steps to reproduce the behavior:
1. Open two instances of vscode (seems to occur regardless of how you open these instances (either by file->new window or via taskbar for example)

[2022-02-17 14:47] choskeli opened #68 "Opening windows sandbox crashes amethyst"
**To Reproduce**
Steps to reproduce the behavior:
1. Enable windows sandbox
2. Launch windows sandbox

[2022-02-17 14:48] choskeli opened #69 "Amethyst doesn't resize or re-position WSL2 Ubuntu Console"
**To Reproduce**
Steps to reproduce the behavior:
1. Enable WSL2
2. Install Ubuntu
3. Launch Ubuntu Bash

[2022-02-17 14:55] choskeli opened #70 "Steam is not sized properly and can crash Amethyst when minimized to taskbar and re-opened"
**Describe the bug**
Steam is not sized properly and can crash Amethyst. This may happen with other applications that minimize to the taskbar when closed and re-opened.

**To Reproduce**
Steps to reproduce the behavior:
1. Open steam
2. Open edge or chrome (Steam will now be the wrong size)
3. Hit the 'X' for steam (so it goes to taskbar)
4. Open steam again (Amethyst will now crash)

[2022-02-17 14:59] choskeli opened #71 "Discord crashes amethyst"
**Describe the bug**
Launching discord crashes amethyst

**To Reproduce**
Steps to reproduce the behavior:
1. Exit discord (if it started with windows)
2. Launch two applications on 2nd monitor
3. Launch discord on 2nd monitor (Amethyst crashes and discord doesn't resize properly)

[2022-02-17 15:01] choskeli commented on #71
Also wanted to add that #66 #67 #68 #69 #70 and #71 were tested with master branch built from source

[2022-02-18 10:45] bardo84 opened #72 "Not compatible with latest App Installer"
Not compatible with latest App Installer
- please contact developer to update code..
Thx

[2022-02-18 21:23] angelogiuseppe commented on #72
I get this screen, but the install button is not enabled, this is running the downloaded file:

![image](https://user-images.githubusercontent.com/10346249/154762968-3820587a-6c85-468e-9e09-fec7ed4b65dc.png)

When clicking on the install button of the website I get this:

![image](https://user-images.githubusercontent.com/10346249/154763048-a361f0bb-7a9d-4159-b444-01fba68cf47a.png)

I am currently

[2022-02-21 08:54] glsorre commented on #69
Hello @choskeli this is aknown thing amethyst does not manage privileged windows by now...a possible workaround is to use windows terminal.

[2022-02-21 08:54] #69 closed

[2022-02-21 14:01] glsorre commented on #72
Hello check #64. This is known and I am trying to ship a solution.

[2022-02-21 14:01] #72 closed

[2022-02-21 14:11] glsorre commented on #64
@choskeli thanks for helping.

I have 2 good news:
- Amethyst windows has been elected for a free open-source certificate from singpath (which I really would like to thank you). So I wiil be able to update site and packages soon;
- a new version partially rewritten is available in the `wpf` branch. Expect this to be pre-released in the next days.

[2022-02-21 14:12] #65 closed

[2022-02-21 14:21] glsorre commented on #60
Please follow #64. I won't update this.

[2022-02-21 14:22] glsorre commented on #63
Please follow #64. I am closing this.

[2022-02-21 14:23] #63 closed

[2022-02-21 14:24] #60 closed

[2022-02-22 09:55] apfsx commented on #64
Hello! Thank you! Do you have instructions on how I can also build quickly? Either local or through azure if it's faster? Much appreciated.

[2022-02-23 08:46] apfsx commented on #71
I'm also experiencing the same issues in all these you listed. Crashes very often when minimizing and maximizing windows from taskbar. I also have dual monitors connected.

[2022-02-23 09:22] glsorre commented on #71
Hi @choskeli  @apfsx I am not able to replicate none of the problems you report. Discord seems to be manage properly on my system.

[2022-02-24 22:21] glsorre commented on #64
Hello https://github.com/glsorre/amethystwindows/releases/tag/2.0.0.1! Enjoy,

[2022-02-24 22:23] glsorre commented on #58
Please @ClaudiaLapalme , try https://github.com/glsorre/amethystwindows/releases/tag/2.0.0.1 and let me know.

[2022-02-24 22:24] #15 closed

[2022-02-24 22:25] #26 closed

[2022-02-24 22:25] #37 closed

[2022-02-24 22:26] #38 closed

[2022-02-24 22:27] #39 closed

[2022-02-24 22:27] #42 closed

[2022-02-24 22:28] glsorre commented on #45
Should be solved in https://github.com/glsorre/amethystwindows/releases/tag/2.0.0.1

[2022-02-24 22:28] #45 closed

[2022-02-24 22:28] glsorre commented on #47
Should be solved in https://github.com/glsorre/amethystwindows/releases/tag/2.0.0.1

[2022-02-24 22:28] #47 closed

[2022-02-24 22:28] #53 closed

[2022-02-24 22:29] #58 closed

[2022-02-24 22:29] glsorre commented on #56
https://github.com/glsorre/amethystwindows/releases/tag/2.0.0.1 should solve this

[2022-02-24 22:29] #56 closed

[2022-02-24 22:29] #59 closed

[2022-02-24 22:32] glsorre commented on #50
@reynerdev windows without decoration are filtered by default at the moment. This is to save some games (I am player of LoL, for example). I will add a selective adding of windows in v2. Here is a pre-release: https://github.com/glsorre/amethystwindows/releases/tag/2.0.0.1, let me know what you think.

[2022-02-24 22:33] glsorre commented on #54
It is now possible in v2 https://github.com/glsorre/amethystwindows/releases/tag/2.0.0.1

[2022-02-24 22:33] #54 closed

[2022-02-24 22:34] glsorre commented on #67
@choskeli could you try with https://github.com/glsorre/amethystwindows/releases/tag/2.0.0.1 and let me know

[2022-02-24 22:36] glsorre commented on #55
This should definitely be solved in https://github.com/glsorre/amethystwindows/releases/tag/2.0.0.1

[2022-02-24 22:36] #55 closed

[2022-02-25 21:53] #49 closed

[2022-02-25 22:01] glsorre commented on #57
Will close this in favor of #28

[2022-02-25 22:01] #57 closed

[2022-02-27 14:11] glsorre commented on #52
This has been implemented in https://github.com/glsorre/amethystwindows/releases/tag/2.0.2.1

[2022-02-27 14:11] #52 closed

[2022-02-27 14:12] glsorre commented on #50
https://github.com/glsorre/amethystwindows/releases/tag/2.0.2.1 now has selective adding of windows

[2022-02-27 14:12] #50 closed

[2022-02-27 14:14] glsorre commented on #40
I completely rewritten settings savings in v2 https://github.com/glsorre/amethystwindows/releases/tag/2.0.2.1 . Please try it.

[2022-02-27 14:14] #40 closed

[2022-02-27 14:14] #64 closed

[2022-02-27 15:09] dordio commented on #40
Sorry I'm no longer using Windows 10, I've moved to Windows 11. I can say that it's working on Windows 11. There are some issues though.
It sometimes crashes without error, just closes.
You have duplicated hotkeys setup.
If you change the hotkeys and restart the app the change are reset to the original.

If you don't mind a sugestion: the ability to change the main modkey. I'd like to use the wind

[2022-02-27 15:45] glsorre commented on #40
@dordio are you reporting on v2?

[2022-02-27 15:46] dordio commented on #40
I am. I'm sorry I didn't mention that. I can open an issue in the correct place if you wish.

[2022-02-27 15:52] glsorre commented on #40
I am investigating the hotkey issue and come back to you.

[2022-02-27 17:52] glsorre commented on #40
@dordio https://github.com/glsorre/amethystwindows/releases/tag/2.0.3.1 could you try this build?
I have added crashes reporting as well to see if I can spot the errors you are talking about.

[2022-02-27 18:34] dordio commented on #40
Sure, no problem I'll report back as soon as I can. Thank you.

[2022-02-27 19:03] dordio commented on #40
This is what I've found so far:
- Moving windows between screens doesn't work
- Expand and shrink main pane doesn't work
- Moving focus between previous/next screen only works if the focus is on the secondary screen. If focus is on primary screen is does nothing. I've got a couple of crashes without errors while testing this.
- Swaping focus and moving focused window around works fine.
- Rotating

[2022-02-27 22:27] glsorre commented on #40
@dordio thanks will investigate and come back to you

[2022-03-02 16:06] slel opened #73 "Add "About" tab"
It would be nice if the Amethyst pane had an "About" tab
with the current version and an option to check for updates.

The alternative is of course to visit the releases page at

    https://github.com/glsorre/amethystwindows/releases

and decide whether to update.

[2022-03-02 20:12] glsorre commented on #40
Hello @dordio! Couldyou try with https://github.com/glsorre/amethystwindows/releases/tag/2.0.4.1?
Also could you paste `%APPDATA%/Amethyst Windows/MySettings.json` here?

[2022-03-02 20:41] glsorre commented on #73
@slel definitely a good idea

[2022-03-02 21:37] glsorre commented on #66
@choskeli I sincerely think Amethyst is not a "classic" tiling window manager but is born to live within the borders of windows so I won't proceed with this feature

have you had the opportunity to test v2? I am interested in your feedback

[2022-03-02 21:37] #66 closed

[2022-03-03 04:16] Stobz0 commented on #73
I just found AmethystWindows while researching similar solutions. I think an about tab would be useful too. The version and update option would be useful. However, in my case I was looking for the about tab to hopefully find out about the licensing information and/or link to the websites.

[2022-03-03 11:02] dordio commented on #40
Hello @glsorre! Version 2.0.4.1 is having the same issues as before, but this time only after I restarted my PC. I tested all shortcuts and they worked fine, also no crashes. Once I restarted the PC and loaded the app all the previous problems came back.

As per your request here is the content of my MySettings.json:

[2022-03-03 11:52] glsorre commented on #40
@dordio I think I can see your problem and my error 🤦. Will come back to you.

[2022-03-03 14:21] glsorre commented on #40
@dordio I have done many tests but I have not been able to modify `MySettings.json` with more than 21 entries as you have at the moment. It is possible is due to a bug in a previous version.

Could you please remove the file and restart from the scratch with version `2.0.4.1` and see what happens?
This means you will need to reset your preferences.

[2022-03-03 15:41] dordio commented on #40
@glsorre so far so good! 😁👍
Apart from one crash while trying to "swap focused window" on my secondary monitor everything seems to be working correctly. Tried a few reboots and still working.

I'll get back to you if something changes.
Thank you very much for all you've done. Great work!

In the mean time I've noticed a couple of "bugs". Minor stuff. I'll post about them in the correct page so you

[2022-03-06 02:52] Stobz opened #74 "Application Crash on Start - .NET Unhandled XamlParseException Event ID 1026/1000/1001"
I have been testing out your software for a few days now. Thank you, it looks very promising and I am interested in using it in a project I am working on.

Today Amethyst would not load. I have included the short list of recently installed items that have recently been installed.
OS: Windows 10 version 21H2 build 19044.1566
![AmethystWindows Crash v2 0 4 1a 2022-03-05](https://user-images.githubus

[2022-03-06 07:07] glsorre commented on #74
@Stobz0 It is definitely something with your saved settings...could you paste `%APPDATA%/Amethyst Windows/MySetting.json`?

[2022-03-06 19:15] Stobz0 commented on #74
Thank you for the information, you were correct and it is now working again.
In C:\Users\<user>\AppData\Local\AmethystWindows\MySettings.json  the problem was that the old DesktopID was no longer valid. Deleting the MySettings.json resolved the problem for a quick fix. After restarting the app, it successfully reproduced a new MySettings.json file and functioned properly.  I narrowed it down to th

[2022-03-07 02:39] Stobz0 commented on #74
Later today. I rebooted a few times, and the DesktopID of my system changed again and the app would crash on load. I was able to get it to start loading again normally by deleting/renaming the json file. Below is the most recent json.
[MySettings.json.txt](https://github.com/glsorre/amethystwindows/files/8194325/MySettings.json.txt)

[2022-03-07 03:36] Stobz0 commented on #70
I am not seeing the crash portion of this. However, I am noticing that the main Steam window is not resizing as expected.
Reproduce:
1. Open Steam
2. Open 2 Notepads
3. Click on non main window, and press Alt+Shift+Enter to make it the main window
4. The Steam window does not normally resize and move to it's proper location unless it is being promoted to main window

[2022-03-07 04:10] Stobz0 opened #75 "Not Tiling Some Windowed Games"
I have tested Amethyst with windowed versions of the games Age of Empires II Definitive Edition and Jackbox Party Pack 7 and both of these Steam games work normally with Amethyst window tiling. However, Ecosystem Steam simulation game is not recognized by Amethyst under any of the tabs. This is the main game I am interested in tiling. How do I go about controlling this game window?
Game Info- http

[2022-03-07 07:42] glsorre commented on #75
Hello @Stobz0, you can use v2 additions to force some windows to be considered.

[2022-03-07 07:42] #75 closed

[2022-03-07 07:43] glsorre commented on #74
Thank you @Stobz0 ! I am working on a fix.

[2022-03-07 07:44] glsorre commented on #70
Thanks @Stobz0. I am looking into it.

[2022-03-07 18:13] Stobz0 commented on #75
The Ecosystem game window does not display in any of the Amethyst tabs including Managed Windows/Excluded Windows/Filters/Additions, so I cannot try to select or add it.
After investigating the Amethyst code more, it looks like game window might not be displaying because for Ecosystem
 `desktopWindow.AppName == ""`

I think I've narrowed it down to this.
In DesktopWindow.cs, function GetAppName(),

[2022-03-07 18:24] Stobz opened #76 "Not Tiling Some Applications"
Continued from Closed Issue #75

The Ecosystem game window does not display in any of the Amethyst tabs including Managed Windows/Excluded Windows/Filters/Additions, so I cannot try to select or add it.
After investigating the Amethyst code more, it looks like game window might not be listed at all because for Ecosystem
`desktopWindow.AppName == ""`

I think I've narrowed it down to this.
In Deskt

[2022-03-07 19:27] glsorre commented on #75
Hello @Stobz0 could you open a PR?

[2022-03-08 03:32] Stobz0 commented on #28
I did some testing using Amethyst app and a prior C# project of mine that uses user32.dll SetWindowPos to interact/change windows. Both were were unable to change the elevated windows that had been ran using Run as Admin. Both appear to obtain a window handle normally but can not carry out the window change across accounts.

**Possible End User Solution**-
I was able to get the elevated windows th

[2022-03-11 12:47] divvy96 opened #78 "app crash"
app crashes before it finishes tiling the windows. The offending program is BESClient - which looks to be a IBM security and update platform.
If i kill the app in windows explorer everything works fine, guessing it's trying to tile a window that doesn't technically exist
`
Exception Info: System.IO.FileNotFoundException: C:\Program Files (x86)\BigFix Enterprise\BES Client\BESClientUI.exe
   at Sys

[2022-03-24 04:01] jimmy6DOF opened #79 "Fesh Install Packaging certificate errors (1.0.21149.1 Latest Stable)"
Below is the error statement and not possible to complete the install so users must go to MSI's in Alpha release (Win10 PRO 21H2):

ERROR:
This app package is not signed with a trusted certificate. Contact your system administrator or the app developer to obtain a new certificate or app package with trusted certificates. The root certificate and all immediate certificates of the signature in the a

[2022-04-06 13:17] glsorre commented on #79
hello @jimmy6DOF, I do not suopport v1 anymore. sorry.

[2022-05-12 08:27] MBombeck commented on #74
Same bug here

[2022-05-23 15:34] git-rz opened #80 "Three column middle layout"
I go between Mac, where I have been using Amethyst for a number of months now, and Windows, where I have just discovered this project.

The Mac version has a three-column-middle layout, and, as a user of an ultra-wide monitor, it has become key to my workflow.

Please consider adding support for the three-column-middle layout, thanks!

[2022-06-02 12:45] TwoLeaves commented on #28
Hi Stobz, how did you manage to run Amethyst as an administrator? Did you build it as a non-UWP app? Apparently normal UWP apps can't run as administrator so I tried building Amethyst as an elevated UWP app according to these instructions ([https://stefanwick.com/2018/10/01/app-elevation-samples-part-1/](https://stefanwick.com/2018/10/01/app-elevation-samples-part-1/)) but it made no difference as

[2022-06-14 22:38] max-sixty opened #81 "Frequent crashes after changing Hotkeys"
The app looks great at first glance!

But I'm trying to set the shortcuts to something similar to what I use on Mac, and struggling:
- I'm trying to set `c-a-p` & `c-a-n` to "Swap Focus Counterclockwise / Clockwise"
- I'm trying to set `c-a-j` & `c-a-k` to "Move Focus Previous / Next Screen"

But after changing these settings:
- "Swap Focus Counterclockwise / Clockwise" works well
- "Move Focus Pr

[2022-06-15 07:52] glsorre commented on #81
Hello @max-sixty,

thank you for notifying. I will give a look. I spent very few hours on amethyst recently but I hope to recover. There are a lot of possible reasons for the behavior you report.

I will let you know.

[2022-06-25 21:04] haru02w commented on #81
That's the only program I fell comfortable using after being on DWM for years.
Unfortunately, I'm having this same issue.
Hope that it'll be fixed soon. Thanks

[2022-07-05 21:01] joshua-pgatour commented on #74
I'm having the bug too

[2022-07-15 16:26] AndreasNasman commented on #61
This is a missing feature that would be really nice to have!
I've used the Mac version of Amethys extensively and only find myself using the Fullscreen and Wide layouts. Cycling through all the layouts feels a bit clunky.

[2022-08-08 10:10] yatsole opened #82 "Add possibility to install using winget or/and chocolatey"
It would be nice to be able to install the tool using the package manager

[2022-08-12 03:17] frizelr4927 opened #83 "Cant Install. Throws a 0x800b0101"
Hey, When installing through either option I get an:

App installation failed with error message: error 0x800B0101: Opening the package from location AmethystWindowsPackaging_1.0.21149.1_x86_x64_ARM.appxbundle failed. (0x800b0101)

From some googling it appears to be related to certificates, but its vague and I'm not entirely sure.

[2022-08-12 03:22] frizelr4927 commented on #83
Just installed using the MSI file from the site, it works but this issue may confuse new users.

[2022-08-25 15:50] woflmao opened #84 "V2 won't start after fresh install"
I rebuilt my computer, and decided to download the 2.0.4.1 version, the msi installer installed correctly, but the app won't start anymore.

[2022-08-25 15:51] woflmao commented on #84
Additional: Running as administrator also will not open the app.

[2022-08-31 03:31] liberathor opened #85 "windows 11 intellij pycharm dont managed"
all windows from intellij as pycharm webstorm, etc cant detected from amethyst. cant filtered or managed.

[2022-09-01 08:11] glsorre commented on #85
Thanks for notifying. WIll give a look.

[2022-09-04 06:01] micoro commented on #61
A potentially easy solution could be to be able to set hotkeys for each possible layout.
This way it's possible to select the desired layout without cycling all of them.
I guess most people like me just use 2 layout: monocle and their favorite version of tiled layout.

[2022-09-04 07:39] glsorre commented on #61
It will come. Hope to have a bit of time to spend on Amethyst in September.

[2022-09-05 15:26] liberathor commented on #85
Thanks, this bug is in windows 11 not tested in other versions of windows.

[2022-09-15 12:11] xcloudx01 opened #86 "Cannot run on Win11"
After opening AmethystWindows.exe I see the icon in the tray area appear, my mouse cursor indicates some activity, then the icon disappears and the process closes. I've tried running earlier builds but the problem remains

[2022-09-26 20:38] Huray-hub opened #88 "Desktop switching with Alt+[1-9] keys"

[2022-09-28 08:57] schmic commented on #86
It won't help much with your issue but I was just able to install and run on Win11.
WIth the latest download as of today.

[2022-10-02 10:21] boorac commented on #86
I have the same issue with the x86 and x64 msi

[2022-10-02 20:59] maciej-makowski commented on #86
I checked out the latest code crashes on Windows 11 Pro

![image](https://user-images.githubusercontent.com/377311/193475892-13a80733-2ac4-4ee2-b9fc-408746efec40.png)

Seems to be a problem in VirtualDesktop dependency on sam COM Interop issue.

[code]

Did some poking around, looks like https://github.com/Grabacr07/VirtualDesktop/issues/76.

[2022-10-03 02:56] azinsharaf commented on #86
same issue on my machine (Win 11, VM using Parallel on Mac M1)

[code]

[2022-10-03 05:57] glsorre commented on #86
You should try to delete `%APPDATA%/Amethyst Windows/MySettings.json`. It is a known bug...I just need the time to release the fix. :(

[2022-10-03 16:17] azinsharaf commented on #86
i couldn't find `Mysettings.json` file on my machine. I used msi_x64 installer file (v 2.0.4.1).

[2022-10-03 21:39] maciej-makowski commented on #86
If you're on Windows 11 build > 22000 or Windos 10 build > 17134, I think you're hitting a problem in a dependency I've mentioned earlier.

I've sent a PR with the fix to them: https://github.com/Grabacr07/VirtualDesktop/pull/79, but no idea how long it will take to accept it and propagate the change to this project.

There is an elaborate way to test/apply this before `VirtualDesktop` maintaniers

[2022-10-04 00:13] azinsharaf commented on #86
@maciej-makowski
So is it a Win issue for build> 22000?

[2022-10-27 19:27] azinsharaf commented on #86
anybody knows when we can use amethyst on win 11 (build > 22000)?